.btn-normal {
    -fx-background-color:
        linear-gradient(#ffffff, #e0e0e0),
        radial-gradient(center 50% -40%, radius 200%, #ffffff 45%, #e0e0e0 50%);
    -fx-background-radius: 6, 5;
    -fx-background-insets: 0, 1;
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.4) , 5, 0.0 , 0 , 1 );
    -fx-text-fill: #395306;
}
.btn-success {
    -fx-background-color:
        linear-gradient(#f0ff35, #a9ff00),
        radial-gradient(center 50% -40%, radius 200%, #b8ee36 45%, #80c800 50%);
    -fx-background-radius: 6, 5;
    -fx-background-insets: 0, 1;
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.4) , 5, 0.0 , 0 , 1 );
    -fx-text-fill: #395306;
}

.dark-mode {
    -fx-background-color: #333;
}

.dark-mode.tree-cell {
    -fx-text-fill: #999;
}

.dark-mode.tree-cell > .tree-disclosure-node > .arrow  {
    -fx-background-color: red;
}

.dark-mode.tree-cell:selected {
    -fx-background-color: #444;
    -fx-text-fill: white;
}

.dark-mode.tree-cell:expanded > .tree-disclosure-node > .arrow {
    -fx-background-color: orange;
}

.tab-pane .tab {
    -fx-background-color: orange;
}

.split-pane *.split-pane-divider {
   -fx-background-color: black;

    -fx-padding: 0 ;
}

.menu-bar {
    -fx-background-color: #333;
}

.menu .label
{
    -fx-text-fill: #999;
}
